/*!
 * Jah X Media.com Stylesheet
 * Written by JP Ramassini
 */

 /*!
  * Fonts In Use Reference
  * font-family: 'Cutive Mono', monospace;
  * font-family: 'Lato', sans-serif;
  */

* {
  box-sizing: border-box;
  overflow-x: hidden;
}
body{
  margin:0;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 5000; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content, #caption {    
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
      width: 100%;
  }
}

.video-background {
  background: #000;
  position: absolute;
  top:0; right: 0; bottom:0; left: 0;
  z-index: -99;
}

 .video-foreground, .video-background iframe{
   position: absolute;
   top:0;
   left:0;
   width:100%;
   height:100%;
   pointer-events: none;
 }

 iframe {
   overflow:hidden;
 }

 .hero-title{
   position: absolute;
   display: block;
   align-content: center;
   height:90%;
   width:100%;
   margin:auto;
   color:#A4AEB7;
 }

 .center {
   position:absolute;
   top:50%;
   width: inherit;
   text-align: center;
 }

 .noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.toggle-nav{
  position: fixed;
  padding-left: 2%;
  padding-top: 2%;
  color:#A4AEB7;
  z-index: 101;
  text-decoration:none;
  cursor:pointer;
}

.hide-menu{
  display: none;
}

.soundcloud-wrapper{
  height:100%;
  width:33vw;
  position:absolute;
  right:10vw;
  padding-top:5vh;
  top:0;
  border-radius:5px;
  display: inline-block;
}

.page-title{
  font-family: 'Cutive Mono', monospace;
  transform: rotate(90deg);
  color:#090909;
  font-size: 8vw;
  text-align: left;
  width:auto;
  height:auto;
  padding:0;
  position: relative;
  left: 10%;
  top: 35vh;
  margin: 0;
  z-index:50;
  overflow-x: visible;
}
.title-wrapper{
  height:100vh;
  width: 15vw;
  float: left;
  position: sticky;
  top: 200px;
}
.toggle-nav{
  font-size: 3em;
}

.up-arrow{
  position:fixed;
  top: 95px;
  left: 3vw;
  width: 30px;
  height: 30px;
  border-bottom: solid 15px rgba(255,255,255, 0.7);
  border-left: solid 15px transparent;
  border-right: solid 15px transparent;
}

ul {
  position:fixed;
  top:125px;
  left:1vw;
  width:200px;
  z-index: 100;
  margin: 0;
  padding: 0;
  overflow:hidden;
  background:rgb(255,255,255);
  /*border-radius: 5px;*/
 }



 li{
   color:white;
   text-align: center;
   padding: 14px 16px;
   font-family: 'Cutive Mono', monospace;
   font-size: 2.3em;
   text-decoration: none;
 }

 li:hover{
   background: rgb(100,166,194);
 }

 li a{
   text-decoration:none;
   color: #090909;
 }

 tr{
   display: inline-block;
   height:33%;
 }
 td{
   width: 300px;
   height:300px;
   align-self: center;

 }
 .photos-left{
  overflow: hidden;
  width: 17.5vw;
  height: 17.5vw;
  margin:10px;
  float:left;
 }
 .photos-mid-left{
  overflow: hidden;
   width: 17.5vw;
   height: 17.5vw;
   margin: 10px;
   float:left;
 }
 .photos-mid-right{
  overflow: hidden;
  width: 17.5vw;
  height: 17.5vw;
  margin: 10px;
  float:left;
 }
 .photos-right{
  overflow: hidden;
  width: 17.5vw;
  height: 17.5vw;
  margin: 10px;
  float:left;
 }
 .photos img{
    cursor: pointer;
    object-fit: cover;
    width:100%;
    height:100%;
    -webkit-transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
    transition:         all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);   
 }

 .photos:hover{
  -webkit-transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
  transition:         all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);   
   -webkit-transform: translateZ(0);
   -moz-transform: translateZ(0);
   -ms-transform: translateZ(0);
   -o-transform: translateZ(0);
   transform: translateZ(0);
   transform: scale(1.1);
 }

 .content{
   width: 80vw;
   padding-top: 20px;
 }

#page-1{
  height:100vh;
  width:auto;
  pointer-events: none;
}

#page-2{
  position:absolute;
  margin:0;
  padding:0;
  width:105%;
  height:100vh;
  left:0;
  /*clear:both;*/
  border-top:50px #F6F7F0;
  background-color: #F6F7F0;
}

#page-3{
  height:100vh;
}

#page-4{
  height:100vh;
}

 /* MEDIA QUERIES */
 @media (min-aspect-ratio: 16/9) {
  .video-foreground { height: 300%; top: -100%; }
}
@media (max-aspect-ratio: 16/9) {
  .video-foreground { width: 300%; left: -100%; }
}

/*For desktop users*/
@media (min-width : 1200px){
  .header{
    position: fixed;
    top:0;
    left:0;
    margin-bottom: 10px;
    clear:both;
    height: 100px;
    width:100%;
    z-index: 60;
    background-color: #090909;
  }

  .content{
    margin-top: 100px;
  }

  .header-image{
    height:80%;
    width:auto;
    position: relative;
    float: right;
    margin-right: 1vw;
    top: 15%;
  }

  #music-pic-1{
    position: absolute;
    width:50%;
    height:100vh;
    max-height: 100%;
    max-width: 100%;
  }

  .up-arrow{
    position:fixed;
    top: 95px;
    left: 3vw;
    width: 30px;
    height: 30px;
    border-bottom: solid 15px rgb(255,255,255);
    border-left: solid 15px transparent;
    border-right: solid 15px transparent;
  }

  .center{
    position:relative;
    top: 50%;
    left: 50%;
    width: 100%;
    height:auto;
    transform: translate(-50%, -45%);
    text-align: center;
  }

  #landing-image{
    height:auto;
    padding: 0px;
  }

  .spacer{
    height:300px;
  }

}

@media (min-width : 850px){
  .header{
    position: fixed;
    top:0;
    left:0;
    margin-bottom: 10px;
    clear:both;
    height: 85px;
    width:100%;
    z-index: 60;
    background-color: #090909;
  }

  .header-image{
    height:65px;
    width:auto;
    position: relative;
    float:right;
    margin-right: 7vw;
    top: 15%;
  }
  .center{
    position:absolute;
    top: 50%;
    left:50%;
    width: 100%;
    font-size:30vw;
    transform: translate(-50%, -27.5%);
  }

  .toggle-nav{
    font-size:3em;
    margin-top: -1.35vw;
  }

  .content{
    margin-top: 85px;
  }

  #landing-image{
    height:auto;
  }
}

/*Vertical Tablet*/

/*For mobile users*/
@media (max-width : 850px){
  #page-2{
    width: 105vw;
  }
  .center{
    width: 70%;
    overflow-x: visible;
    margin: 0 auto;
    right: 15vw;
    top: 35vh;
  }
  
  .content{
    margin-top:80px;
  }

  .header{
    position: fixed;
    top:0;
    left:0;
    margin-bottom: 10px;
    clear:both;
    height: 85px;
    width:100%;
    z-index: 60;
    background-color: #090909;
  }

  .header-image{
    height:65px;
    width:auto;
    position: relative;
    left: 40%;
    top: 15%;
  }

  #landing-image{
    width:100%;
    height: auto;
    margin: 0 auto;
  }

  .toggle-nav{
    font-size: 3em;
  }

  .up-arrow{
    top: 7%;
  }

  ul{
    top: 10.5%;
    left:0;
    width:100%
  }

  .title-wrapper{
    width:20vw;
    position: fixed sticky;
    top: 10px;
  }

  .page-title{
    font-size: 36pt;
  }

  .photos{
    width: 70vw;
    height: 70vw;
    object-fit: cover;
  }
}
