/*!
 * Jah X Media.com Stylesheet
 * Written by JP Ramassini
 */

 /*
  * Fonts In Use Reference
  * font-family: 'Cutive Mono', monospace;
  *
  */

* {
  box-sizing: border-box;
  overflow-x: hidden;
}


.video-background {
  background: #000;
  position: absolute;
  top:0; right: 0; bottom:0; left: 0;
  z-index: -99;
}

 .video-foreground, .video-background iframe{
   position: absolute;
   top:0;
   left:0;
   width:100%;
   height:100%;
   pointer-events: none;
 }

 .hero-title{
   position: absolute;
   display: block;
   align-content: center;
   height:90%;
   width:100%;
   margin:auto;
   color:#A4AEB7;
 }

 .center {
   position:absolute;
   top:50%;
   width: inherit;
   text-align: center;
 }

 .noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

 /* MEDIA QUERIES */
 @media (min-aspect-ratio: 16/9) {
  .video-foreground { height: 300%; top: -100%; }
}
@media (max-aspect-ratio: 16/9) {
  .video-foreground { width: 300%; left: -100%; }
}

/*For desktop users*/
@media (min-width : 1200px){

/*Desktop Nav CSS*/
  nav {
    position:fixed;
    top:0;
    left:0;
    padding:0;
    margin:0;
    width:100%
  }

  ul {
   position:fixed;
   clear:both;
   top:0;
   left:0;
   width:100%;
   z-index: 100;
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow:hidden;
   background-color:#72A4BF;
  }

  li {
    float:right;
  }

  li a{
    display: block;
    color:white;
    text-align: center;
    padding: 14px 16px;
    font-family: 'Cutive Mono', monospace;
    font-size: 3vw;
    text-decoration: none;
  }


  .center{
    position:relative;
    top: 50%;
    left: 50%;
    width: 100%;
    height:auto;
    transform: translate(-50%, -45%);
    text-align: center;
  }

  #landing-image{
    height:auto;
    padding: 0px;
  }

}

/*For tablet users*/
@media (min-width : 850px){
  .center{
    position:absolute;
    top: 50%;
    left:50%;
    width: 100%;
    font-size:30vw;
    transform: translate(-50%, -27.5%);
  }

  #landing-image{
    height:auto;
  }
}

/*For mobile users*/
@media (max-width : 849px){
  .center{
    display:none;
  }
}
